.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 0 auto;
  justify-content: center;
  align-items: center;

  font-family: "Asap";
  height: 5.5em;
}
.headerMobile {
  display: none;
}
.containerLogo {
  display: flex;
  justify-content: flex-end;

  grid-area: 1 / 1 / 2 / 2;
}
.containerNav {
  grid-area: 1 / 2 / 2 / 4;
}
.containerNav .nav {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
  text-align: left;
  padding: 0;
}

.containerNav .nav .item {
  margin: 0.5em;
  font-size: 1rem;
  color: #3751ff;
  transition: all 0.3s ease-in-out;
}
.containerNav .nav .item:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.containerContact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: 1 / 4 / 2 / 5;
}
.containerContact .contact {
  width: 100px;
  border-radius: 1em;
  border: none;
  height: 2.3em;
  font-family: "Asap";
  background-color: #3751ff;
  color: white;
  cursor: pointer;
}

.containerMain {
  max-height: 90vh;
}
.main {
  width: 100%;
  height: 87vh;

  background-repeat: no-repeat;
  padding-bottom: 200px;

  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  text-align: center;
}
.logo {
  width: 180px;
}
.main video {
  width: 100%;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -13px;
}
.mainTitle {
  font-size: 4em;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.mainTitle .span {
  color: #ffbb32;
}
.mainSubTitle {
  font-size: 2em;
  display: block;
  margin: 0em;
  margin-bottom: 1em;
  color: white;
  font-family: "roboto bold";
}
.mainParraf {
  color: white;
  font-size: 1.2em;
  color: #ffbb32;
  margin: 0;
  font-family: "roboto";
}
.iso {
  width: 50em;
  overflow: hidden;
  margin-top: -7em;
  margin-left: -1.5em;
}
.containerServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.servicesTitle {
  text-align: center;
  color: #3751ff;
  font-family: "poppins";
  font-weight: bold;
  font-size: 3em;
  margin-top: 1.5em;
}
.servicesSubtitle {
  text-align: center;
  color: #3751ff;
  opacity: 0.8;
  font-family: "roboto";
  font-size: 1.1em;
}
.containerService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
}
.serviceImg {
  width: 230px;
  height: 230px;
  margin: 10px auto;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 5em;
  transition: all ease 0.3s;
}
.serviceImg:hover {
  transform: scale(1.1);
}
.serviceTitle {
  font-size: 1.5em;
  font-family: "poppins";
  color: #3751ff;
  margin: 0;
}
.serviceInfo {
  font-size: 1em;
  font-family: "roboto";
  color: black;
  margin: 0;
  width: 50%;
  margin-top: 20px;
  text-align: center;
}

.nosotros {
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1em;
  margin-top: 3em;
}
.nosotrosText {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.nosotrosText span {
  color: #ffbb32;
}
.nosotrosText p span {
  font-family: "roboto bold";
}
.nosotrosText h1 {
  font-family: "poppins";
  font-size: 3em;
}
.nosotrosText p {
  font-size: 1.4em;
  font-family: "roboto";
  margin: 0 auto;
  width: 90%;
  margin-left: 4em;
}
.nosotrosImg img {
  width: 100%;
  margin-top: -5em;
  display: flex;
  justify-content: center;
}
.titleHowWork {
  text-align: center;
  color: #3751ff;
}
.line {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 38px;
  /* top: 2246.4px;
  left: 150px;
  right: 0;
  margin: 0 auto;
  z-index: -1; */
}

.subTitle {
  font-size: 1.3em;
  color: #3751ff;
  font-size: "roboto";
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.step {
  display: flex;
  align-items: center;
}
.list {
  margin-top: 6em;
  padding: 0 3em;
}
.list ul {
  list-style: none;
}
.list ul li:before {
  content: "";
}
.list ul li {
  font-size: 1.5em;
  color: black;
  font-family: "roboto";
  margin-top: 1em;
}
.step img {
  width: 20em;
}

.divContact {
  height: 20em;
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divContact p {
  font-size: 2.3em;
  color: white;
  font-family: "poppins";
  text-align: center;
}

.divContact button {
  width: 15em;
  border-radius: 1.2em;
  border: none;
  height: 3em;
  font-family: "Asap";
  background-color: #3751ff;
  color: white;
  cursor: pointer;
  font-family: "poppins";
  font-size: 1.3em;
  transition: all ease 0.3s;
}

.divContact button:hover {
  background-color: white;
  color: #3751ff;
  font-family: "poppins";
  transition: all ease 0.3s;
}
.footer {
  display: flex;
  height: 3em;
  justify-content: center;
  margin: 0 auto;
  margin-left: 12px;
}
.footer svg {
  margin: 0 1em;
  cursor: pointer;
}

.footer svg:hover {
  transform: scale(1.1);
  transition: ease 0.3s all;
}
.js {
  font-size: 1.3em;
  font-family: "poppins";
  color: #3751ff;
  text-align: center;
}
.js img {
  width: 40px;
  cursor: pointer;
}
.wpp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  transition: all ease 0.3s;
  cursor: pointer;
}
.wpp:hover {
  transform: scale(1.2);
  transition: all ease-in-out 0.3s;
}

.wpp svg {
  margin-top: 14px;
  width: 2em;
}
/* MEDIA QUERY */
@media (max-width: 1150px) {
  .mainTitle {
    font-size: 2.8em;
  }
  .mainSubTitle {
    font-size: 1.7em;
  }
  .iso {
    width: 45em;
  }
}
@media (max-width: 992px) {
  .containerNav .nav .item {
    font-size: 0.9rem;
  }
  .mainTitle {
    font-size: 2em;
  }
  .mainSubTitle {
    font-size: 1.5em;
  }
  .mainParraf {
    font-size: 1em;
  }
  .main {
    height: 80vh;
  }
  .iso {
    width: 40em;
  }
  .divContact p {
    font-size: 1.5em;
  }
  .divContact button {
    width: 15em;
    border-radius: 1.2em;
    border: none;
    height: 3em;
    font-family: "Asap";
    background-color: #3751ff;
    color: white;
    cursor: pointer;
    font-family: "poppins";
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .headerMobile {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    margin: 0 auto;

    align-items: center;
    grid-gap: 1em;
    font-family: "Asap";
    height: 4em;
    overflow-x: hidden;
  }
  .containerContact {
    justify-content: center;
    width: 33.33%;
  }
  .containerContact .contact {
    width: 75px;
    border-radius: 1em;
    font-size: 13px;
    border: none;
    height: 2.3em;
    font-family: "Asap";
    background-color: #3751ff;
    color: white;
    transition: all 0.5s ease-out;
  }
  .containerLogo {
    justify-content: center;
    width: 33.33%;
  }
  .menu {
    display: flex;
    justify-content: center;
    width: 33.33%;
  }

  .logo {
    width: 100px;
  }
  .containerNavMob {
    height: 100%; /* 100% Full-height */
    width: 280px; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -18em;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 17px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: red;
    color: white;
    background-position: center;
  }

  .containerNavMob ul {
    list-style: none;
    font-size: 1.8em;
  }
  .containerNavMob ul .item {
    margin: 0.8em 0em;
  }

  .containerNavMob ul .item:hover {
    opacity: 0.5;
    transition: ease 1s;
  }
  .body,
  .headerMobile {
    transition: margin-left 0.5s;
  }
  .closeNav {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
  }
  .main {
    height: 36vh;
  }
  .mainContent {
    margin-top: 38px;
    margin-right: 11px;
  }
  .mainTitle {
    font-size: 1.22em;
  }
  .mainSubTitle {
    font-size: 0.8em;
  }
  .mainParraf {
    font-size: 0.6em;
  }
  .iso {
    width: 24em;
    margin-top: -3em;
    margin-left: -6em;
  }
  .servicesTitle {
    font-size: 2em;
  }
  .servicesSubtitle {
    font-size: 1.2em;
  }
  .serviceImg {
    width: 10em;
    height: 10em;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .nosotrosText h1 {
    font-size: 2em;
  }
  .nosotrosText p {
    margin: 0 auto;
    margin-left: 1.5em;
  }
  .nosotrosImg {
    margin-top: 3em;
  }
  .step {
    display: flex;
    flex-direction: column;
  }
  .list {
    text-align: left !important;
    margin-top: 0;
  }

  .step img {
    width: 15em;
  }
}

@media (max-width: 600px) {
  .containerLogo,
  .containerContact,
  .menu {
    width: 126.33px;
  }
  .iso {
    width: 28em;
  }
}

@media (max-width: 375px) {
  .mainTitle {
    font-size: 1em;
  }
  .iso {
    width: 24em;
  }
}
